:root {
  --mainDayBg: hsla(0, 0%, 80%, 0.25);
  --mainDayH2: hsla(0, 0%, 50%, 1);
  --mainDayH5: hsla(0, 0%, 60%, 1);
  --mainDayTime: hsla(0, 0%, 25%, 1);
  --mainFieldset: hsla(0, 0%, 80%, 0.5);
  --mainDayCheckerOne: hsla(0, 0%, 90%, 1);
  --mainDayCheckerTwo: hsla(0, 0%, 100%, 1);
  --mainDayTimeHover: hsla(86, 100%, 87%, 0.5);
  --mainDayOccupied: hsla(0, 45%, 76%, 0.9);
  --mainKalenderLabel: hsla(0, 0%, 20%, 0.658);
}

main div.container fieldset {
  border-radius: 0.5rem;
  background-color: rgba(224, 224, 224, 0.5);
  border: none;
  font-size: 1.5rem;
  padding: 1.5rem 0 1.5rem 1rem;
  margin-bottom: 20px;
}
main div.container fieldset legend {
  color: #666;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

main form div.container fieldset div.form div select.spelare {
  color: #333;
  background-color: transparent;
  border: none;
  padding: 0 1rem;
  margin: 0;
  font-size: 1.3rem;
  font-weight: normal;
  outline: none;
}
main form div.container fieldset div.form div select.spelare option {
  padding: 0;
  margin: 0;
  font-weight: normal;
  border: none;
  background-color: #fff;
}

main div.container div.court {
  margin-bottom: 2.5rem;
  padding-left: 0.5rem;
}

main div.container div.court select#court {
  color: #666;
  background-color: transparent;
  border: none;
  padding: 0 1rem;
  margin: 0;
  font-size: 1.3rem;
  font-weight: normal;
  outline: none;
}
main div.container div.court select#court option {
  padding: 0;
  margin: 0;
  font-weight: normal;
  border: none;
  background-color: #fff;
}

main div.container div.kalender {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 0;
  text-align: center;
  padding-right: 1rem;
}

main div.container div.kalender div.days {
  padding: 0.5rem;
}
main div.container div.kalender div.days:not(:first-child) {
  border-left: 0.1rem solid #ccc;
}

main div.container div.kalender div.days div.day:first-child h2 {
  font-size: 1.1rem;
  font-weight: normal;
  color: var(--mainDayH2);
}
main div.container div.kalender div.days div.day:first-child h5 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--mainDayH5);
  font-weight: normal;
}

main div.container div.form input {
  border: none;
  border-bottom: 0.1rem solid var(--mainFieldset);
  padding: 0.3rem 0.8rem;
}
main div.container div.form input:focus {
  outline: none;
}
main div.container div.form label {
  color: #666;
  display: inline-block;
  padding: 0 1.5rem;
  text-align: right;
  font-size: 1.3rem;
}
main div.container button {
  margin-top: 2rem;
  width: 10rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--mainFieldset);
  padding: 1rem;
}

div.kalender div.days input {
  display: none;
}

div.kalender div.days label {
  display: inline-block;
  padding: 0.75rem 0;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  color: var(--mainKalenderLabel);
  font-size: 1.2rem;
  border: 0.1rem solid #ccc;
}
div.kalender div.days label:last-child {
  margin-bottom: 0;
}

div.kalender div.days input:checked + label {
  background: var(--mainDayTimeHover);
  color: rgb(51, 51, 51);
  border: 0.1rem solid #ccc;
}

div.kalender div.days label:nth-of-type(even) {
  background-color: var(--mainDayCheckerOne);
}
div.kalender div.days label:nth-of-type(odd) {
  background-color: var(--mainDayCheckerTwo);
}

div.kalender div.days label.taken {
  cursor: not-allowed;
  opacity: 0.25;
  text-decoration: line-through;
  background-color: var(--mainDayOccupied);
}
div.kalender div.days label:hover:not(.taken) {
  background-color: var(--mainDayTimeHover);
}

main form div.container fieldset div.form div {
  display: flex;
}

main form div.container fieldset div.form div div.textfield {
  position: relative;
  margin-left: 1rem;
}
main form div.container fieldset div.form div div.textfield label {
  position: absolute;
  font-size: 1.3rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: var(--mainDayH2);
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
  border-radius: 0.5rem;
}
main form div.container fieldset div.form div div.textfield input {
  font-size: 1.3rem;
  max-width: 12.5rem;
  outline: none;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  color: gray;
  transition: 0.1s ease-out;
}
main form div.container fieldset div.form div div.textfield input:focus {
  border-color: var(--mainDayH2);
}
main form div.container fieldset div.form div div.textfield input:focus + label {
  color: #fff;
  background-color: var(--mainDayH2);
  top: -0.5rem;
  transform: translateY(-50%) scale(0.9);
  padding: 0.5rem;
}
main form div.container fieldset div.form div div.textfield input:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
}

/* TEMP BOX */
div#displayBook {
  display: none;
  position: fixed;
  background-color: #fff;
  border-bottom: 0.5rem solid pink;
  border-right: 0.5rem solid pink;
  border-bottom-right-radius: 1rem;
  padding: 1rem;
  top: 0;
  left: 0;
  z-index: 1999;
  font-size: 1.5rem;
  box-shadow: 0 0 1.5rem hsla(0, 0%, 0%, 0.5);
}
