:root {
  --mainDayBgColor: hsla(0, 0%, 80%, 0.25);
  --mainDayColorH2: hsla(0, 0%, 50%, 1);
  --mainDayColorH5: hsla(0, 0%, 60%, 1);
  --mainDayTimeColor: hsla(0, 0%, 25%, 1);
  --mainDayCheckerOne: hsla(0, 0%, 90%, 1);
  --mainDayCheckerTwo: hsla(0, 0%, 100%, 1);
  --mainDayTimeHover: hsla(86, 100%, 87%, 0.5);
  --mainDayOccupied: hsla(0, 45%, 76%, 0.9);
}

main div.container div.menu {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  text-align: center;
  align-items: end;
  padding: 15px;
}
main div.container div.menu div.previous,
main div.container div.menu div.next {
  font-size: 0.9rem;
  cursor: pointer;
}
main div.container div.menu div.center {
  font-size: 1.6rem;
  font-weight: normal;
}

main div.container div.menu div.center select {
  border: none;
  padding: 0 10px;
  margin: 0;
  background-color: transparent;
  color: var(--mainDayColorH5);
  font-size: 1.3rem;
  font-weight: normal;
  border: none;
  outline: none;
}
main div.container div.menu div.center select option {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-weight: normal;
  border: none;
}

main div.container div.kalender {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  text-align: center;
}
main div.container div.kalender div.days {
  padding: 5px;
  border-radius: 5px;
}
main div.container div.kalender div.days {
  background-color: var(--mainDayBgColor);
}

main div.container div.kalender div.days div.day:first-child h2 {
  font-size: 1.3rem;
  font-weight: normal;
  color: var(--mainDayColorH2);
}
main div.container div.kalender div.days div.day:first-child h5 {
  font-size: 0.7rem;
  margin-bottom: 10px;
  color: var(--mainDayColorH5);
  font-weight: normal;
}

main div.container fieldset {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
main div.container fieldset {
  margin-top: 15px;
}
main div.container fieldset:first-child {
  margin-top: 0;
}
main div.container fieldset legend {
  padding: 0 10px;
  font-weight: bold;
}

main div.container div.form input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 3px 8px;
}
main div.container div.form input:focus {
  outline: none;
}
main div.container div.form label {
  display: inline-block;
  width: 210px;
  padding: 0 15px;
  text-align: right;
}
main div.container button {
  margin-top: 20px;
  width: 15vw;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

div.kalender div.days input {
  display: none;
}

div.kalender div.days label {
  display: inline-block;
  padding: 10px 0;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 5px;
  color: rgba(51, 51, 51, 0.658);
}
div.kalender div.days label:last-child {
  margin-bottom: 0;
}

div.kalender div.days input:checked + label {
  background: var(--mainDayTimeHover);
  color: rgb(51, 51, 51);
}

div.kalender div.days label:nth-of-type(even) {
  background-color: var(--mainDayCheckerOne);
}
div.kalender div.days label:nth-of-type(odd) {
  background-color: var(--mainDayCheckerTwo);
}

div.kalender div.days label.taken {
  cursor: not-allowed;
  opacity: 0.25;
  text-decoration: line-through;
  background-color: var(--mainDayOccupied);
  color: #666;
}
div.kalender div.days label:hover:not(.taken) {
  background-color: var(--mainDayTimeHover);
}

div#displayBook {
  display: none;
  position: fixed;
  background-color: #fff;
  border-top: 5px solid pink;
  border-right: 5px solid pink;
  border-top-right-radius: 10px;
  padding: 10px;
  width: 250px;
  height: 250px;
  bottom: 0;
  left: 0;
  z-index: 1999;
}
