:root {
  --mainColor: hsla(0, 0%, 25%, 1);
  --mainH1Color: hsla(0, 0%, 100%, 1);
  --mainTextShadow: hsla(0, 0%, 15%, 1);
  --mainWelcomeBoxShadow: hsla(0, 0%, 15%, 0.5);
}

main div.container div h1 {
  font-size: 2rem;
  font-weight: normal;
}

main div.container div.welcome {
  text-align: center;
  padding-top: 20vh;
  height: 50vh;
  background-image: url("../img/rackets.jpg");
  border-radius: 10px;
  box-shadow: var(--footerWrapBoxShadowOne) 0px 1px 2px 0px, var(--footerWrapBoxShadowTwo) 0px 2px 6px 2px;
}
main div.container div.welcome h1 {
  font-size: 4rem;
  color: var(--mainH1Color);
  text-shadow: 0px 0px 15px var(--mainTextShadow);
}
