:root {
  --mainH1: hsla(0, 0%, 100%, 1);
  --mainWelcomeTextShadow: hsla(0, 0%, 15%, 0.5);
  --mainKalenderBg: hsla(0, 0%, 80%, 0.25);
  --mainKalenderDayBg: hsla(0, 0%, 25%, 1);
  --mainKalenderCheckerBgOne: hsla(0, 0%, 90%, 1);
  --mainKalenderCheckerBgTwo: hsla(0, 0%, 100%, 1);
  --mainKalenderHoverChecker: hsla(74, 100%, 94%, 0.884);
  --mainKalenderToday: hsla(86, 100%, 87%, 0.884);
}

main div.container div.welcome {
  text-align: center;
  background-image: url('../img/rackets.jpg');
  border-radius: 7px;
  padding: 6rem 0;
}
main div.container div.welcome h1 {
  font-size: 3rem;
  color: var(--mainH1);
  text-shadow: 3px 0px 7px var(--mainWelcomeTextShadow), -3px 0px 7px var(--mainWelcomeTextShadow), 0px 4px 7px var(--mainWelcomeTextShadow);
}

main div.container div.menu {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  text-align: center;
  align-items: end;
  padding: 5px;
}
main div.container div.menu div.previous,
main div.container div.menu div.next {
  font-size: 1.1rem;
  cursor: pointer;
}

main div.container div.menu div.center {
  font-size: 1.7rem;
  font-weight: normal;
}

main div.container div.menu div.center h5 {
  font-size: 1.2rem;
  font-weight: normal;
}

main div.container div.days {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 5px 5px;
  text-align: center;
  justify-content: center;
  background-color: var(--mainKalenderBg);
  border-radius: 5px;
  padding: 5px;
}
main div.container div.days div.dayLabel {
  text-align: center;
  font-size: 1.4rem;
  padding: 3px 0;
}

main div.container div.days div.day {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
}
main div.container div.days div.day:nth-child(even) {
  background-color: var(--mainKalenderCheckerBgOne);
}

main div.container div.days div.day:nth-child(odd) {
  background-color: var(--mainKalenderCheckerBgTwo);
}

main div.container div.days div.day.disable {
  opacity: 0.5;
  background-color: transparent;
}

main div.container div.days div.day:hover:not(.disable):not(.today):not(.booked) {
  background-color: var(--mainKalenderHoverChecker);
}

main div.container div.days div.day.today {
  background-color: var(--mainKalenderToday);
  font-weight: bold;
  border: 1px solid #ccc;
}

main div.container div.days div.day.booked:not(.today) {
  background-color: hsla(45, 100%, 94%, 0.884);
  font-weight: bold;
  border: 1px solid #ccc;
}

main div.container div.activityDiv {
  background-color: var(--mainKalenderBg);
  padding: 10px;
  font-size: 1.3rem;
  color: rgba(43, 43, 43, 0.486);
  margin-top: 10px;
  border-radius: 5px;
}
main div.container div.activityDiv h1 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  padding-bottom: 7px;
}
