main div.container div:not(:last-child) {
  margin-bottom: 3.5rem;
}
main div.container div h1 {
  font-size: 2.5rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
main div.container div i {
  font-size: 1.2rem;
}
main div.container div img {
  border-radius: 0.5rem;
  max-width: 25%;
  max-height: 25vw;
}

main div.container div div.flex {
  display: flex;
}

main div.container div div.flex div h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
main div.container div div.flex div p {
  margin-bottom: 1rem;
}
main div.container div div.flex div {
  padding: 0.3rem 0 0 2rem;
  font-size: 1.3rem;
}
